<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preface - Notes on Computational Fluid Dynamics: General Principles</title>
    <!-- Include your styles or links to stylesheets here -->
    <link rel="stylesheet" href="../static/styles.css">
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js">
  </script>
</head>
<body>

  <header>
    <div class="header-container">
      <h1>Estudo da Atomização de Jatos Eletrohidrodinâmicos</h1>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#openfoam">OpenFOAM</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

<nav class="chapter-nav">
  <ul>
    <li><a href="index.html">[home]</a></li>
    <li><a href="index.html">[previous topic]</a></li>
    <li><a href="cap2.html">[next topic]</a></li>
  </ul>
</nav>

<h1 class="pagetitle"><span class="titlemark">Chapter&nbsp;2</span>
<a id="x9-120001"><br></a>Fundamentos de Jatos Electrohidrodinâmicos</h1>



<h3 style="font-weight: bold;">2.1 Princípio do Cone de Taylor</h3>


<div style="text-align: justify;"> 

<p> Quando um liquido é submetido a um campo elétrico externo e se este último for suficientemente intenso, pode ocorrer um cone agudo de líquido, a partir do qual, se as condições o permitirem, forma-se um jato fino. Este cone é conhecido como Cone de Taylor, em homenagem ao físico Geoffrey Ingram Taylor, que fez contribuições significativas para a compreensão deste efeito nos anos 1960 \cite{Taylor1964}. 

A formação do Cone de Taylor é uma manifestação direta da interação entre as forças eletrostáticas e as forças de tensão superficial. Em essência, sob a influência de um campo elétrico, as cargas elétricas acumulam-se na superfície do líquido. A repulsão entre as cargas semelhantes provoca uma força que age contra a tensão superficial, que tende a manter a superfície do líquido coesa de forma uniforma, e.g., a forma habitual do menisco. Quando a força eletrostática consegue superar a tensão superficial, o cone emite um jato eletrohidrodinâmico. Este cone pode ser visto na \autoref{fig:2.1}, onde o liquido é representado por \( \Omega_1 \) e o ambiente externo (ar) é o \( \Omega_2 \). Na mesma figura vemos um bocal capilar que está a um potencial elétrico \( \Phi \), pelo qual entra o liquido. </p>

</div>

<div class="container" style="background-color: rgb(236, 236, 236); color: black; padding: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
    
                    <figure class="image main">
                      <img src="../static//images/Fig2.png" alt="Descriptive text about the image"  style="width: 25vw; float: right; margin-right: 20px;">
                      <figcaption>Fig 1. Description of the figure.</figcaption>
                    </figure>

										<ul>
											<li style="font-weight: bold;">Força Elétrica (Força de Maxwell): </li>

											<p>Esta força resulta da interação do campo elétrico com as cargas no fluido.<p>
                        $$\mathbf{f}_{e} = \rho_e \mathbf{E}$$
											
										<li style="font-weight: bold;"> Força de Tensão Superficial: </li>
										
											<p>Atua na superfície livre, resistindo à formação do cone. onde, \( \gamma \) é a tensão superficial e \( S \) a superfície livre do liquido.</p>

                      $$ \mathbf{f}_{\gamma} = \gamma \nabla S $$

										<li style="font-weight: bold;"> Força de Polarização: </li>
	
										<p>Surge devido à interação do campo elétrico com polarizações induzidas no fluido.</p>

                    $$ \mathbf{f}_{Q^+} = \nabla \cdot (\mathbf{P} \otimes \mathbf{E}) - \mathbf{P} \cdot \nabla \mathbf{E} $$
										
										<li style="font-weight: bold;">Força Gravitacional: </li>
	
										$$ \mathbf{f}_{g} = \rho \mathbf{g} $$
										
										<li style="font-weight: bold;"> Forças Viscosas: </li>
	
										$$  \mathbf{f}_{\mu} = \mu \nabla^2 \mathbf{u} $$

                    <li style="font-weight: bold;"> Força de Pressão: </li>
	
										$$ \mathbf{f}_{p} = -\nabla p $$

										</ul>
									</div>
</div>

<h3 style="font-weight: bold;">2.2 Equações de Governo</h3>


<div style="text-align: justify;"> 

<p> Os jatos de cone de Taylor são considerados um problema de escoamento electrohidrodinâmico imiscível. As equações de governo deste escoamento são uma peculiaridade da Magnetohidrodinâmica (MHD) e nesta secção iremos descrever as equações de governo e as simplificações feitas para chegar à electrcohidrodinâmica (EHD). Consideramos logo de inicio um escoamento incompressível, isotérmico e não estacionário.
Consideremos um escoamento onde \( \rho \) é a densidade do fluido, \( p \) é a pressão, \( \mu \) é a viscosidade e \( \mathbf{f} \) são as forças por unidade de volume a atuar no fluido. 
</p>
<p>
  As forças que atuam no escoamento bifásico electrohidrodinâmico são a força da gravidade \( \mathbf{f}_g \), a força devido à tensão superficial \( \mathbf{f}_\gamma \) e devido à presença de um campo elétrico \( \mathbf{f}_e \). A força gravitacional é calculada de forma simples tal que \( \mathbf{f}_g = \rho \mathbf{g} \), sendo \( \mathbf{g} \) a aceleração vetorial gravitacional. A força devido à tensão superficial e campo elétrico requerem outras considerações um pouco mais complexas que iremos detalhar.
 </p>

</div>

<div class="center-container">

<div  class="center-div">

  <ul>
    <li style="font-weight: bold;">Conservação de massa </li>

$$ \nabla \cdot \mathbf{u} = 0, \quad \text{em } \Omega_0 \times [0, T] $$


  <li style="font-weight: bold;"> Conservação da Quantidade de movimento: </li>

  $$ \rho \left( \frac{\partial \mathbf{u}}{\partial t} + \mathbf{u} \cdot \nabla \mathbf{u} \right) = -\nabla p + \mu \nabla^2 \mathbf{u} + \mathbf{f}_\sigma +\mathbf{f}_g +\mathbf{f}_e , \quad \text{em } \Omega_0 \times [0, T]. $$

  
  <li style="font-weight: bold;"> Conservação da Densidade de Carga Elétrica: </li>

  $$  \frac{\partial \rho_{e}}{\partial t} + \nabla \cdot\left(\rho_{e} \vec{u}  \right) + \nabla \cdot (\sigma \vec{E}) = 0 $$

  <li style="font-weight: bold;"> Campo Elétrico: </li>

  $$ \varepsilon \nabla \mathbf{E} = -\rho_{e} , \quad \mathbf{E} = -\nabla \phi$$

  <li style="font-weight: bold;"> Força Tensão Superficial, Gravitacional, Elétrica: </li>


  $$ \mathbf{f}_{\sigma} = \sigma \kappa \mathbf{n}, \quad \mathbf{f}_{g} = \rho \mathbf{g}, \quad \mathbf{f}_e = \mathbf{E} \cdot \nabla \mathbf{E} - \frac{1}{2} \nabla E^2$$
  


  </ul>
</div>
</div>

</div>


<h3 style="font-weight: bold;">2.2.1 Hipóteses em consideração</h3>

<div class="center-container">
<div style="width: 90%;">

  <ol>
    <li data-label="Escoamento incompressível"><span>Assume-se que a densidade do fluido é constante e não varia com a pressão ou outras variáveis.</span></li>
    <li data-label="Fluidos não-miscível"><span>Os diferentes fluidos (ou fases) não se misturam e mantêm uma interface distinta.</span></li>
    <li data-label="Tensões induzidas desprezáveis"><span>Ignora-se qualquer tensão devido a efeitos eletromagnéticos.</span></li>
    <li data-label="Escoamento laminar"><span>Ignora-se a turbulência e suas complexidades associadas.</span></li>
    <li data-label="Campo elétrico estacionário"><span>As variações temporais do campo elétrico são negligenciadas.</span></li>
    <li data-label="Geometria fixa"><span>A estrutura ou geometria que contém o fluido não se deforma ou move em resposta ao escoamento ou a forças externas.</span></li>
    <li data-label="Propriedades do fluido constantes"><span>A viscosidade e outras propriedades relevantes são consideradas constantes e não variáveis.</span></li>
    <li data-label="Condição isotérmica"><span>Não há variação de temperatura no domínio.</span></li>
    <li data-label="Sem evaporação"><span>Os fluidos não evaporam, independentemente das condições.</span></li>
    <li data-label="Cargas elétricas constantes"><span>As cargas elétricas no fluido são conservadas.</span></li>

</ol>

</div>
</div>


<footer>
  <div class="footer-content">
    <div class="logo">
      <img src="../static/images/LOGOS.png" alt="CFD Direct">
    </div>
    <hr> <!-- This will create a horizontal line -->
    <div class="footer-text">
      Copyright © 2019-2023 S. Cândido & UBI
    </div>
  </div>
</footer>



</body>

</html>
