<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preface - Notes on Computational Fluid Dynamics: General Principles</title>
    <!-- Include your styles or links to stylesheets here -->
    <link rel="stylesheet" href="../static/styles.css">
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js">
  </script>

  
  
</head>
<body>

  <header>
    <div class="header-container">
      <div class="title-block">
      <h1>Estudo da Atomização de Jatos Eletrohidrodinâmicos</h1>
      <h3> Modelação, Desempenho e Aplicações</h3>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#openfoam">OpenFOAM</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

<nav class="chapter-nav">
  <ul>
    <li><a href="index.html">[home]</a></li>
    <li><a href="index.html">[previous topic]</a></li>
    <li><a href="cap2.html">[next topic]</a></li>
  </ul>
</nav>

<h1 class="pagetitle"><span class="titlemark">Caítulo&nbsp;4</span>
<a id="x9-120001"><br></a>Desempenho de Jatos Eletrohidrodinâmicos</h1>



<h3 style="font-weight: bold;">4.1 Jatos axissimétricos</h3>


<div style="text-align: justify;"> 

<p> Os jactos eletrohidrodinâmicos (EHD) são uma tecnologia altamente promissora para a geração de estruturas tridimensionais à micro e à nanoescala, mas o avanço desta tecnologia é dificultado pela insuficiente compreensão de muitos aspetos dos seus mecanismos de escoamento, tais como o comportamento de bending sob potenciais elétricos maiores. Utiliza-se aqui uma simulação numérica totalmente acoplada do fluxo de jatos eletrohidrodinâmicos tridimensionais, uma vez que os efeitos não simétricos regem a maior parte dos regimes EHD. Ao aplicar números capilares elétricos consideráveis \(Ca_E > 0,25\), captamos instabilidades radiais que até agora nenhuma outra simulação numérica foi capaz de apresentar. Inicialmente, é feita uma comparação com simulações bidimensionais de eixo simétrico anteriores e uma validação com estudos experimentais do jato do cone de Taylor.</p>

<p>
  Obteve-se um ganho de precisão interessante, com um erro de cerca de \(1,101\%\) na morfologia em relação aos resultados experimentais. Além disso, o nosso modelo numérico leva e consideração o ângulo de contacto entre a superfície do bocal e do líquido, que é mostrado para ser uma variável muito importante para melhorar a precisão na forma morfológica do cone de Taylor. Além disso, são estudadas as estruturas tridimensionais e a dinâmica do escoamento, sob diferentes números de capilares elétricos, e a sua relação com a instabilidades do jato. Apresentamos uma nova visualização da formação da geração de gotículas com cone de Taylor recuado e a dinâmica de bending.</p>
</div>



<div class="container" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); padding: 20px; box-shadow: 0px 4px 8px rgba(245, 243, 243, 0.1);">

<figure class="image main">
  <img src="../static//images/Time_LPT.gif" alt="Evolução temporal do jato EHD com formação de pluma de gotas"  style="width: 50vw; float: right; margin-right: 20px;">
  <figcaption>Ani 1. Evolução temporal do jato EHD com formação de pluma de gotas</figcaption>
</figure>

<ol>
  <li> Coletor colorido pela intensidade do campo elétrico <br>
    \( E_f \in [0, 1] MV/m \)</li>
  <li> Para cada gota detetada pelo DBSCAN tem um vetor velocidade, tal que, <br>
    \( \mathbf{u}_d = \sum \mathbf{u}_{\alpha=0.5} \)</li>
    <li> À direita apresenta-se uma jane de zoom à transição Cono-Jato </li>
</ol>

</div>
		


<footer>
  <div class="footer-content">
    <div class="logo">
      <img src="../static/images/LOGOS.png" alt="CFD Direct">
    </div>
    <hr> <!-- This will create a horizontal line -->
    <div class="footer-text">
      Copyright © 2019-2023 S. Cândido & UBI
    </div>
  </div>
</footer>



</body>

</html>
