<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preface - Notes on Computational Fluid Dynamics: General Principles</title>
    <!-- Include your styles or links to stylesheets here -->
    <link rel="stylesheet" href="../static/styles.css">
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js">
  </script>

  
  
</head>
<body>

  <header>
    <div class="header-container">
      <div class="title-block">
      <h1>Estudo da Atomização de Jatos Eletrohidrodinâmicos</h1>
      <h3> Modelação, Desempenho e Aplicações</h3>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#openfoam">OpenFOAM</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

<nav class="chapter-nav">
  <ul>
    <li><a href="index.html">[home]</a></li>
    <li><a href="index.html">[previous topic]</a></li>
    <li><a href="cap2.html">[next topic]</a></li>
  </ul>
</nav>

<h1 class="pagetitle"><span class="titlemark">Caítulo&nbsp;4</span>
<a id="x9-120001"><br></a>Modelação de Jatos Eletrohidrodinâmicos</h1>



<h3 style="font-weight: bold;">2.1 Princípio do Cone de Taylor</h3>


<div style="text-align: justify;"> 

<p> Este capítulo apresenta os resultados primários do estudo do desempenho de jatos eletrohidrodinâmicos, o qual inclui estudos de:</p>

  <ul> 
    <li><a href="cap4a.html">4.1 Jatos Axissimétricos</a></li>
    <li><a href="cap4b.html">4.2 Instabilidades tridimensionais</a></li>
    <li><a href="cap4c.html">4.3 Formação de Plumas</a></li>

  </ul>

</div>

		


<footer>
  <div class="footer-content">
    <div class="logo">
      <img src="../static/images/LOGOS.png" alt="CFD Direct">
    </div>
    <hr> <!-- This will create a horizontal line -->
    <div class="footer-text">
      Copyright © 2019-2023 S. Cândido & UBI
    </div>
  </div>
</footer>



</body>

</html>
