<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preface - Notes on Computational Fluid Dynamics: General Principles</title>
    <!-- Include your styles or links to stylesheets here -->
    <link rel="stylesheet" href="../static/styles.css">
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js">
  </script>

  
  
</head>
<body>

  <header>
    <div class="header-container">
      <div class="title-block">
      <h1>Estudo da Atomização de Jatos Eletrohidrodinâmicos</h1>
      <h3> Modelação, Desempenho e Aplicações</h3>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#openfoam">OpenFOAM</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

<nav class="chapter-nav">
  <ul>
    <li><a href="index.html">[home]</a></li>
    <li><a href="index.html">[previous topic]</a></li>
    <li><a href="cap2.html">[next topic]</a></li>
  </ul>
</nav>

<h1 class="pagetitle"><span class="titlemark">Caítulo&nbsp;4</span>
<a id="x9-120001"><br></a>Desempenho de Jatos Eletrohidrodinâmicos</h1>



<h3 style="font-weight: bold;">4.1 Jatos axissimétricos</h3>


<div style="text-align: justify;"> 

<p> Os estudos iniciais deste trabalho são focados nos jatos eletrohidrodinâmicos estáveis de forma radial. Isto significa que queremos calcular o escoamento de jatos por cone de Taylor axissimétricos. Este tipo de jatos são formados quando as condições de caudal de entrada e potencial elétrico aplicado estão dentro de uma janela de operação estável, no sentido radial, significando que a única instabilidade de jatos líquido com os quais estaremos a lidar dever-se-á tensão superficial e não de bending. Neste sentido, a quando nos referimos ao caso de Jato Axissimétrico estamos a falar da modelação computacional dos testes experimentais de [30], as condições exatas destes estudos são replicadas 
computacionalmente. Este caso foi escolhido pois com ele é possível validar o modelo eletrohidrodinâmico na quebra do jato através da comparação direta com as leis de escala do diâmetro da gotas geradas. A figura seguinte mostra um jato nesta condição específica. Um jato axissimétrico tem a forma característica da Figura 4.1.</p>

</div>



<div class="container" style="background-color: rgb(255, 255, 255); color: black; padding: 20px; box-shadow: 0px 4px 8px rgba(245, 243, 243, 0.1);">

<figure class="image main">
  <img src="../static//images/cap4.1_2.png" alt="Descriptive text about the image"  style="width: 50vw; float: right; margin-right: 20px;">
  <figcaption>Fig 1. Description of the figure.</figcaption>
</figure>

</div>

<div class="container" style="background-color: rgb(0, 0, 0); color: black; padding: 20px; box-shadow: 0px 4px 8px rgba(245, 243, 243, 0.1);">

  <figure class="image main">
    <img src="../static//images/anim_iso.gif" alt="Descriptive text about the image"  style="width: 50vw; float: right; margin-right: 20px;">
    <figcaption>Fig 1. Description of the figure.</figcaption>
  </figure>
  
  </div>
      
		


<footer>
  <div class="footer-content">
    <div class="logo">
      <img src="../static/images/LOGOS.png" alt="CFD Direct">
    </div>
    <hr> <!-- This will create a horizontal line -->
    <div class="footer-text">
      Copyright © 2019-2023 S. Cândido & UBI
    </div>
  </div>
</footer>



</body>

</html>
