<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes on Computational Fluid Dynamics: General Principles</title>
	<link rel="stylesheet" href="../static/styles.css">
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js">
    </script>
</head>
<body>

<header>
  <div class="header-container">
    <div class="title-block">
    <h1>Estudo da Atomização de Jatos Eletrohidrodinâmicos</h1>
    <h3> Modelação, Desempenho e Aplicações</h3>
    </div>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#openfoam">OpenFOAM</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<div >
  <span>
    <img src="../static/images/s119.png" alt="Descriptive text about the image" class="full-width"></span>
</div>
  
  <div style="text-align: justify;"> 
    <p>Um estudo numérico desenvolvido por <a href="https://silviomcandido.github.io">Sílvio Cândido</a>, sobre a orientação de <a href="https://www.ubi.pt/Pessoa/pascoa">José C. Páscoa</a> trabalho suportado pela Bolsa nº 2020.04517.BD da <a href="https://www.fct.pt">Fundação para a Ciência e Tecnologia</a> e apoiado pelo <a href="https://www.ubi.pt/entidade/C-MAST">Center for Mechanical and Aerospace Science and Technologies</a>.</p>
</div>

		
<div class="container">
    <!-- Left Section -->

    <div class="left-section">
        <div>About the Book</div>


    </div>

    <!-- Right Section -->
    <div class="right-section">
        <div>Conteúdos</div>
        <ul>
          <li><a href="preface.html">Preface</a></li>
          <li><a href="intro.html">1. Introdução</a></li>
          <li><a href="cap2.html">2. Fundamentos EHD</a></li>
          <li><a href="cap3.html">3. Modelação Numérica</a></li>
          <li>
              <a href="cap4.html">4. Desempenho de Jatos EHD</a>
              <ul>
                  <li><a href="cap4a.html">4.1 Jatos Axissimétricos</a></li>
                  <li><a href="cap4b.html">4.2 Instabilidades tridimenionais</a></li>
                  <li><a href="cap4c.html">4.3 Formação de Plumas</a></li>
              </ul>
          </li>
          <li>
              <a href="cap5.html">5. Aplicações de Jatos EHD</a>
              <ul>
                  <li><a href="cap5a.html">5.1 Modelos de Ordem Reduzida (POD/DMD)</a></li>
                  <li><a href="cap5b.html">5.2 Micro-propulsão</a></li>
              </ul>
          </li>
          <li><a href="cap6.html">6. Conclusões</a></li>
          <li><a href="app1.html">Apendice A - Validação</a></li>
          <li><a href="app2.html">Apendice B - Scripts para Modelação</a></li>
          
      </ul>
      
        <!-- Additional sections can be added similarly -->
    </div>
</div>

<footer>
  <div class="footer-content">
    <div class="logo">
      <img src="../static/images/LOGOS.png" alt="CFD Direct">
    </div>
    <hr> <!-- This will create a horizontal line -->
    <div class="footer-text">
      Copyright © 2019-2023 S. Cândido & UBI
    </div>
  </div>
</footer>


</body>
</html>
