<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preface - Notes on Computational Fluid Dynamics: General Principles</title>
    <!-- Include your styles or links to stylesheets here -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

  <header>
    <div class="header-container">
      <div class="title-block">
      <h1>Estudo da Atomização de Jatos Eletrohidrodinâmicos</h1>
      <h3> Modelação, Desempenho e Aplicações</h3>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#openfoam">OpenFOAM</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    
  </header>

  
  <nav class="chapter-nav">
    <ul>
      <li><a href="index.html">[home]</a></li>
      <li><a href="index.html">[previous topic]</a></li>
      <li><a href="cap2.html">[next topic]</a></li>
    </ul>
  </nav>

<h1 class="pagetitle"><span class="titlemark">Chapter&nbsp;1</span>
<a id="x9-120001"><br></a>Introduction</h1>

<div class="quote"><!--l. 45-->
<p class="noindent">“If we get through for two minutes only, it
will be a start.”</p>


<div style="text-align: justify;"> 

<p> Os jatos eletrohidrodinâmicos (EHD) são criados, na sua forma mais simples, através de um pequeno bocal, no qual emerge uma gota de líquido com certas propriedades elétricas, ao qual é aplicada uma alta tensão. Esta tensão é aplicada entre o bocal e um coletor, sendo então possível formar um jato fino devido à ação electroestática e, eventualmente, também à de origem gravítica. Este fenómeno é comummente referenciado como "cone de Taylor". Os cones de Taylor têm distintos modos de funcionamento, sendo que são estudados consoante as diferentes formas de operação. O modo de funcionamento mais comum é o de jato contínuo, entre o cone e o coletor, contudo, e dependendo das condições ideais, estes jatos podem quebrar-se em pequenas gotas, veja-se a Figura 1.</p>

<p>Os jatos eletro-hidrodinâmicos (EHD) por cone de Taylor são uma manifestação fascinante da interação entre forças eletrostáticas e tensões superficiais em fluidos condutivos. Este fenômeno tem sido objeto de extensa pesquisa devido às suas aplicações potenciais em áreas como impressão a jato de tinta, produção de nanofibras e entrega de medicamentos. Os diversos modos de funcionamento dos jatos EHD, sob diferentes condições experimentais, são descritos abaixo:<p>

</div>

<div class="container" style="background-color: rgb(236, 236, 236); color: black; padding: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
    
                    <figure class="image main">
                      <img src="../static//images/modos.png" alt="Descriptive text about the image"  style="width: 500px; float: right; margin-right: 20px;">
                      <figcaption>Fig 1. Description of the figure.</figcaption>
                    </figure>

										<ul>
											<li style="font-weight: bold;">Dripping: </li>

											<p>Uma gota cresce na extremidade do capilar até que a gravidade faça cair. Este modo é evidente na imagem inferior central. Neste modo, o líquido pendura da agulha ou capilar, formando uma gota pendente que eventualmente se desprende devido à gravidade. A gota cresce até um certo tamanho, após o qual a tensão superficial não consegue mais sustentar a gota, levando-a a cair. A imagem mostra claramente este momento de "quebra" com a legenda "Quebra em Dripping".<p>
											
										<li style="font-weight: bold;"> Microdripping: </li>
										
											<p>Pequenas gotas são periodicamente emitidas do ápice do cone com efeitos significativos de forças eletrostáticas. Aqui a contribuição da força eletrostática é pequena e a formação do cone de Taylor é periódica;</p>

										<li style="font-weight: bold;"> Jato Estável com Cone de Taylor: </li>
	
										<p>Forma-se um cone na extremidade do capilar de onde é emitido um jato contínuo e estável. Na imagem superior direita, observamos um jato contínuo que sai da ponta da agulha. Antes da emissão do jato, o líquido forma um "cone de Taylor" na ponta da agulha, um formato cónico característico formado quando o líquido é submetido a um campo elétrico forte. O jato é emitido da ponta afiada do cone. O jato é contínuo e estável.</p>
										
										<li style="font-weight: bold;">Spinning: </li>
	
										<p>Este modo não foi possível visualizar mas a solução é ejetada tangencial mente à superfície do cone através de ondas periódicas. Este modo é usual quando são usadas soluções viscosas ou polímeros; </p>
										
										<li style="font-weight: bold;"> Multi-jato: </li>
	
										<p>Este modo não é claramente visível na imagem fornecida, mas geralmente envolve a emissão de múltiplos jatos finos a partir de uma superfície líquida ou a formação de vários cones de Taylor em proximidade. Em determinadas condições, a superfície do líquido pode se tornar instável, levando à formação de múltiplos jatos</p>
										</ul>
									</div>
</div>

<footer>
  <div class="logo">
      <img src="./images/LOGOS.png" alt="CFD Direct">
    </div>
  <div class="footer-left">
      Copyright © 2019-2023 S. Cândido & UBI
  </div>
</footer>

</body>

</html>
